label.panel-heading {
  display: block;
}

#form_insert_video button {
  margin-bottom: 5px;
}

#form_insert_video input {
  margin-left: 15px;
  margin-bottom: 5px;
}

li.vdo img {
  width: 384px;
  width: 280px;
}

iframe {
  width: 800px;
  height: 600px;
}
